body {
  background: url('../../../../public/assets/images/skybg-min.jpg') no-repeat top center;
  background-size: 100%;
}

:global .row {
  padding: 0;
  margin: 0;
}

.ch {
  padding: 10px;
  border: 1px solid #38ADD8;
  border-left: 10px solid #38ADD8;
  background: #FFFFFF;
  margin-top: 4px;
  cursor: pointer;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;

  &:hover {
    border: 1px solid #333;
    border-left: 10px solid #333;
    background: #FFFFFF;

    .chIcon {
      color: #333;
    }

    .chContent {

      .chTitle {
        color: #333;
      }

      .chSub {
        color: #333;
      }

      .chInput {
        background-color: #FFFFFF !important;
        color: #333333;
        border: 1px solid #333333;
      }
    }
  }

  .chInput {
    width: 100%;
    border-radius: 0px !important;
    background-color: #FFFFFF !important;
    color: #38ADD8;
    border: 1px solid #38ADD8;
  }

  .chIcon {
    color: #38ADD8;
    display: inline-block;
    text-align: center;
    -webkit-transition : color 500ms ease-out;
    -moz-transition : color 500ms ease-out;
    -o-transition : color 500ms ease-out;
    transition : color 500ms ease-out;
    width: 60px;
    font-size: 20px;
  }

  .chContent {
    display: inline-block;

    .chTitle {
      margin: 0;
      padding: 0;
      color: #38ADD8;
      -webkit-transition : color 500ms ease-out;
      -moz-transition : color 500ms ease-out;
      -o-transition : color 500ms ease-out;
      transition : color 500ms ease-out;
    }

    .chSub {
      margin: 0;
      padding: 0;
      color: #38ADD8;
      -webkit-transition : color 500ms ease-out;
      -moz-transition : color 500ms ease-out;
      -o-transition : color 500ms ease-out;
      transition : color 500ms ease-out;
    }
  }
}

.chActive {
  border: 1px solid #333;
  border-left: 10px solid #333;
  background: #FFFFFF;

  .chIcon {
    color: #333;
  }

  .chContent {

    .chTitle {
      color: #333;
    }

    .chSub {
      color: #333;
    }
  }
}
