html, body {
  height: 100%;
  margin: 0;
}

:global .row {
  padding: 0;
  margin: 0;
}

:global .container-fluid {
  padding: 0px !important;
}

:global .m-10 {
  margin: 10px;
}

:global .m-20 {
  margin: 20px;
}

:global .m-b-10 {
  margin-bottom: 10px;
}

:global .white-text {
  color: #FFFFFF;
}
:global .font1vw {
  font-size: 1vw;
}
:global .font-point8vw {
  font-size: .8vw;
}
:global .font-point6vw {
  font-size: .6vw;
}

:global .relative {
  position: relative;
}

:global .fixed {
  position: fixed;
}

:global .absolute {
  position: absolute;
}

#global .licode_subbar {
  display: none !important;
}

.ch {
  padding: 10px;
  border: 1px solid #38ADD8;
  border-left: 10px solid #38ADD8;
  background: #FFFFFF;
  margin-top: 4px;
  cursor: pointer;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;

  &:hover {
    border: 1px solid #333;
    border-left: 10px solid #333;
    background: #FFFFFF;

    .chIcon {
      color: #333;
    }

    .chContent {

      .chTitle {
        color: #333;
      }

      .chSub {
        color: #333;
      }

      .chInput {
        background-color: #FFFFFF !important;
        color: #333333;
        border: 1px solid #333333;
      }
    }
  }

  .chInput {
    width: 100%;
    border-radius: 0px !important;
    background-color: #FFFFFF !important;
    color: #38ADD8;
    border: 1px solid #38ADD8;
  }

  .chIcon {
    color: #38ADD8;
    display: inline-block;
    text-align: center;
    -webkit-transition : color 500ms ease-out;
    -moz-transition : color 500ms ease-out;
    -o-transition : color 500ms ease-out;
    transition : color 500ms ease-out;
    width: 60px;
    font-size: 20px;
  }

  .chContent {
    color: #38ADD8;

    .chTitle {
      margin: 0;
      padding: 0;
      -webkit-transition : color 500ms ease-out;
      -moz-transition : color 500ms ease-out;
      -o-transition : color 500ms ease-out;
      transition : color 500ms ease-out;
      font-size: 14px;
    }

    .chSub {
      margin: 0;
      padding: 0;
      -webkit-transition : color 500ms ease-out;
      -moz-transition : color 500ms ease-out;
      -o-transition : color 500ms ease-out;
      transition : color 500ms ease-out;
      font-size: 10px;
    }
  }
}

.chActive {
  border: 1px solid #333;
  border-left: 10px solid #333;
  background: #FFFFFF;

  .chIcon {
    color: #333;
  }

  .chContent {

    .chTitle {
      color: #333;
    }

    .chSub {
      color: #333;
    }
  }
}


.channelPage {
  width: 100%;
  height: 100vh;
  padding-top: 10%;
}
