html, body {
  height: 100%;
}

body {
  background: url('../../../../public/assets/images/skybg-min.jpg') no-repeat top center;
  background-size: 100%;
}

:global .row {
  padding: 0;
  margin: 0;
}

.ch {
  background: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border: 1px solid #fff;
  border-left: 10px solid #fff;
  margin-top: 4px;
  cursor: pointer;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
  transition : border 500ms ease-out;

  &:hover {
    border: 1px solid #38ADD8;
    border-left: 10px solid #38ADD8;
    background: #FFFFFF;

    .chIcon {
      color: #38ADD8;
    }

    .chContent {

      .chTitle {
        color: #38ADD8;
      }

      .chSub {
        color: #38ADD8;
      }
    }
  }

  .chIcon {
    color: #FFFFFF;
    display: inline-block;
    padding: 0 20px;
    -webkit-transition : color 500ms ease-out;
    -moz-transition : color 500ms ease-out;
    -o-transition : color 500ms ease-out;
    transition : color 500ms ease-out;
  }

  .chContent {
    display: inline-block;

    .chTitle {
      margin: 0;
      padding: 0;
      color: #fff;
      -webkit-transition : color 500ms ease-out;
      -moz-transition : color 500ms ease-out;
      -o-transition : color 500ms ease-out;
      transition : color 500ms ease-out;
    }

    .chSub {
      margin: 0;
      padding: 0;
      color: #fff;
      -webkit-transition : color 500ms ease-out;
      -moz-transition : color 500ms ease-out;
      -o-transition : color 500ms ease-out;
      transition : color 500ms ease-out;
    }
  }
}

.chActive {
  border: 1px solid #38ADD8;
  border-left: 10px solid #38ADD8;
  background: #FFFFFF;

  .chIcon {
    color: #38ADD8;
  }

  .chContent {

    .chTitle {
      color: #38ADD8;
    }

    .chSub {
      color: #38ADD8;
    }
  }
}
