.chatbox {
  width: 70%;
  position: fixed;
  bottom: 10%;
  left: 5%;

  input {
    background: rgba(0,0,0,.6);
  }
}

.chatContainer {
  max-height: 60vh;
  min-height: 10vh;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(linear, left bottom,
  left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  &::-webkit-scrollbar {
    width: .5em;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.chatItem {
  color: #FFF;
  margin-bottom: 1vh;

  span {
    font-size: 1.5vw;
  }

  p {
    font-size: 1.5vw;
    padding-top: .5vh;
  }
}
