.chatbox {
  width: 70%;
  position: fixed;
  bottom: 10%;
  left: 5%;

  input {
    background: rgba(0,0,0,.6);
  }
}

.chatContainer {
  max-height: 60vh;
  min-height: 10vh;
  overflow-y: scroll;
  -webkit-mask-image: -webkit-gradient(linear, left bottom,
  left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  &::-webkit-scrollbar {
    display: none;
    width: .5em;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
    background: transparent;
  }
}

.chatItem {
  color: #FFF;
  margin-bottom: 1vh;

  span {
    font-size: 1.5vw;
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 1);
  }

  p {
    font-size: 1.5vw;
    padding-top: .5vh;
    text-shadow: 2px 2px 3px rgba(50, 50, 50, 1);
  }
}
