.mainScreen {
  width: 220px;
  height: 160px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1030;
}

.participantsPanel {
  position: fixed;
  top: 20px;
  left: 20px;
}

.participants {
  width: 320px;
  height: 220px;
  margin: 10px;
  border: 1px dotted #ddd;
}
