@import "./_vars.scss";
@import "./_mixins.scss";
.containersCustom {
  padding-left: $CONTAINER_CUSTOM_PADDING_LEFT;
  padding-right: $CONTAINER_CUSTOM_PADDING_RIGHT;
}

.invisible {
  opacity: 0;
}

.view-enter {
  @include fade-in(0s, 0.7s, ease-in);
  z-index: 9999;
}

// texts
:global .white-text {
  color: #FFFFFF;
}
// margins
:global .m-0 {
  margin: 0px !important;
}
:global .m-t-4 {
  margin-top: 4px;
}
:global .m-t-10 {
  margin-top: 10px;
}

:global .p-0 {
  padding: 0px !important;
}

:global .m-t-10-percent {
  margin-top: 10%;
}
